<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <title>Youtube to MP3</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="../static/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
  </head>
  <body style="background: #ecf0f1;">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#"><i class="fas fa-headphones"></i> Youtube to MP3</a>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link active" href="/index">Inicio <span class="sr-only">(current)</span></a>
        </div>
      </div>
    </nav>
    <div class="container mt-4">
      <div id="alerta"></div>
      <div class="row">
        <div class="col-sm-8 mb-4">
          <div class="card">
            <div class="card-header text-white" style="background: #2980b9;">
              <i class="fas fa-headphones"></i> Descargar MP3
            </div>
            <div class="card-body">
              <form action="/songs" method="POST">
                <textarea name="inputURL" class="form-control" rows="5"></textarea>
                <button type="submit" name="Submit" class="btn btn-success mt-3">Descargar</button>
              </form>
            </div>
          </div>
        </div>
        <div class="col-sm-4 mb-4">
          <div class="card">
            <div class="card-header text-white" style="background: #2980b9;">
              <i class="fas fa-info-circle"></i> Información
            </div>
            <div class="card-body">
              <strong>Formato de URL:</strong>
              <p>
                https://www.youtube.com/watch?v=...
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
