{% extends "base.html" %}

{% block title %}YoutubeToMP3{% endblock %}

{% block container %}
    <div class="ui basic modal">
        <div class="ui icon header">
            <i class="download icon"></i>
            Descargar MP3
        </div>
        <div class="content" style="text-align: center;">
            <p>¿Quieres descargar todos los MP3 procesados en un archivo comprimido(.zip)?</p>
        </div>
        <div class="actions">
            <div class="ui red basic cancel inverted button">
                <i class="remove icon"></i>
                No
            </div>
            <div class="ui green ok inverted button" data-action="downloadZip">
                <i class="checkmark icon"></i>
                Sí
            </div>
        </div>
    </div>
    <div class="ui blurring" style="height: 100%;">
        <br><br>
        <div class="ui inverted dimmer"></div>
        <div class="ui one column doubling stackable grid container">
            <div class="column center aligned">
                <img src="{{ url_for('static', filename='images/logo.svg') }}" width="50%"/>
            </div>
            <div class="column">
                <div class="ui fluid icon input big">
                    <input type="text" placeholder="Youtube URL..." id="ytUrlInput">
                    <i class="inverted circular search link icon orange" data-action="add"></i>
                </div>
                <div class="ui hidden divider"></div>
                <div class="ui progress" data-component="totalProgress" style="display: none;">
                    <div class="bar">
                        <div class="progress"></div>
                    </div>
                    <div class="label" data-component="label-totalProgress"></div>
                </div>
                <button class="ui button labeled icon blue fluid" data-action="downloadAll" style="display: none;">
                    <i class="arrow alternate circle down icon"></i> Descargar todo
                </button>
                <div class="ui divider"></div>
                <div class="ui divided items" id="vidListContainer">

                </div>
            </div>
        </div>
    </div>
{% endblock %}