{% include "nav.html" %}
<div class="container mt-4 text-dark">
  <h3>Descarga todas las canciones que quieras</h3>
  <p>Puedes descargar todas las caciones que quieras en tan solo un archivo comprimido con todos los .mp3</p>
  <h3>¿Cuanto tarda la aplicación en procesar las canciones?</h3>
  <p>Para una canción de 5 minutos de duración la aplicación tardará unos 10 segundos en procesarla, tambien depende del entorno en el que se ejecute la aplicación</p>
  <h3>¿Como descargo las canciones de una playlist?</h3>
  <p>Puedes descargar las playlist desde el siguiente enlace: <a href="{{ url_for('playlist') }}">Descargar Playlist</a>
  <br />
  <span class="text-danger"><strong>¡Cuidado!</strong></span> - Los mix de Youtube aún no se pueden descargar, tan solo playlist.</p>
</div>
</body>
</html>
