{% include "nav.html" %}
<div class="container mt-4">
  <div class="row">
    <div class="col-sm-12 mb-4">
      <div id="dwlStatus"></div>
      <div class="card mb-3">
        <div class="card-header text-white" style="background: #2980b9;">
          <i class="fas fa-headphones"></i> Descargar Playlist MP3
        </div>
        <div class="card-body">
          <form action="/playlist" method="POST">
            <input name="playlistURL" class="form-control" placeholder="https://www.youtube.com/playlist?list=..." id="playlistInput"/>
            <button type="button" class="btn btn-success mt-3" id="dwlPlaylistBtn"><i class="fas fa-download" id="dwlLoader"></i> Descargar playlist</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="{{ url_for('static', filename='js/addPlaylist.js') }}"></script>
</body>
</html>
